In [1]:
#-*- coding: utf-8 -*-
#数据规范化
import pandas as pd
import numpy as np

In [3]:
datafile = '/Users/admin/PycharmProjects/pythonProject1/python_da/chapter4/demo/data/normalization_data.xls'
data = pd.read_excel(datafile, header = None)    # 读取数据

In [4]:
a = ((data - data.min())/(data.max()-data.min()))       # 最小 —— 最大规范化
b = ((data - data.mean()))/ data.std()                  # 零 —— 均值规范化
c = data/10**np.log10(data.abs().max())                 # 小数定标规范化

In [5]:
a

          0         1         2         3
0  0.074380  0.937291  0.923520  1.000000
1  0.619835  0.000000  0.000000  0.850941
2  0.214876  0.119565  0.813322  0.000000
3  0.000000  1.000000  1.000000  0.563676
4  1.000000  0.942308  0.996711  0.804149
5  0.264463  0.838629  0.814967  0.909310
6  0.636364  0.846990  0.786184  0.929571

In [6]:
b

          0         1         2         3
0 -0.905383  0.635863  0.464531  0.798149
1  0.604678 -1.587675 -2.193167  0.369390
2 -0.516428 -1.304030  0.147406 -2.078279
3 -1.111301  0.784628  0.684625 -0.456906
4  1.657146  0.647765  0.675159  0.234796
5 -0.379150  0.401807  0.152139  0.537286
6  0.650438  0.421642  0.069308  0.595564

In [7]:
c

          0         1         2         3
0  0.410526  0.868333  0.866187  1.000000
1  0.757895 -1.000000 -0.749640  0.784143
2  0.500000 -0.761667  0.673381 -0.448131
3  0.363158  0.993333  1.000000  0.368145
4  1.000000  0.878333  0.994245  0.716381
5  0.531579  0.671667  0.676259  0.868669
6  0.768421  0.688333  0.625899  0.898009